 <!--------educación--------->
 <div class="container-fluid text-center  rounded-4" id="educacion">
    <div class="row text-center p-2">
        <h2> EDUCACIÓN </h2>
        <div class="table-responsive text-sm rounded-4" id="columnas">
            <table class="table table-striped ">
                <tr>
                    <th>Título</th>
                    <th>Institución</th>
                    <th>Nivel</th>
                </tr>
                <tr>
                    <td>Eduacación Media: Orientación en Medios de Comunicación</td>
                    <td>CPEM N°53</td>
                    <td>Completo</td>
                </tr>
                <tr>
                    <td>Profesorado en Historia</td>
                    <td>Universidad Nacional del Comahue</td>
                    <td>Avanzada- En curso</td>
                </tr>
                <tr>
                    <td>Italiano</td>
                    <td>Universidad Nacional del Comahue</td>
                    <td>Básico</td>
                </tr>
                <tr>
                    <td>Auxiliar Técnico en Mantenimiento y Reparación de PC domiciliar</td>
                    <td>CFP N°25</td>
                    <td>Completo</td>
                </tr>
            </table>
        </div>
    </div>
</div>
