 <!--MODAL EDITAR PROYECTOS-->
 <div class="modal fade" id="editproyectoModal" tabindex="-1" aria-labelledby="editproyectoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editproyectoModal">EDITAR </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="edittitulopro" class="form-label">Título</label>
                        <input type="text" class="form-control" id="edittitulopro">
                    </div>
                    <div class="mb-3">
                        <label for="editañopro" class="form-label">Año</label>
                        <input type="number" class="form-control" id="editañoinst"
                            aria-describedby="nueva información">
                    </div>
                    <div class="mb-3">
                        <label for="editdetallespro" class="form-label">Detalles</label>
                        <textarea class="form-control" id="editdetallespro"
                            aria-describedby="nueva información"> </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-light">Guardar y Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>