<!--SOBRE MI-->
<div class="container-fluid  rounded-4" id="containersobremi">
    <div class="row d-flex justify-content-center align-items-center text-center p-2" id="sobremi">
        <h2>SOBRE MI</h2>
        <div class="col-sm-12 col-md-3 d-flex rounded-4" >
            <img src="assets/img/20211002_085133.jpg" 
                class="img-fluid img-thumbnail mx-auto d-block" id="fotoperfil">
        </div>
        <div class="col-sm-12 col-md-8 d-flex rounded-4"
            id="columnatexto">
            <p class="text-center">¡Hola! Mi nombre es Gladis Flores Cespedes. <br>
                Soy estudiante avanzada de Historia y actualmente me dedico a dar clases particulares de ciencias
                sociales, así como también de 
                didáctica. <br> Desde hace un año me involucre en el mundo de la programación y espero poder llegar
                muy lejos.
                Tengo el objetivo de poder usar estos nuevos conocimientos en mi carrera como docente, con el fin de
                crear
                material didáctico novedoso para mis futuros estudiantes.
            <p>
        </div>
    </div>
</div>
