    <!--MODAL EDITAR EXPE-->
    <div class="modal fade" id="editexperienciaModal" tabindex="-1" aria-labelledby="editexperienciaModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edinfoModal">EDITAR PROYECTOS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="añoproyectoexp" class="form-label">Año</label>
                            <input type="date" class="form-control" id="añoproyectoexp">
                        </div>
                        <div class="mb-3">
                            <label for="proyectoexp" class="form-label">Proyecto</label>
                            <input type="text" class="form-control" id="proyectoexp"
                                aria-describedby="nueva información">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-light">Guardar y Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>