
    <!--MODAL EDITAR INFO-->
    <div class="modal fade" id="edinfoModal" tabindex="-1" aria-labelledby="edinfoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edinfoModal">EDITAR INFORMACIÓN</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--mail-contraseña dentro del modal de login-->
                    <form>
                        <div class="mb-3">
                            <label for="infosobremi" class="form-label">Nueva información</label>
                            <textarea class="form-control" id="infosobremi"
                                aria-describedby="nueva información"> </textarea>
                        </div>

                        <!--botones modal del login-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-light">Guardar y Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>