<p>nadvar works!</p>
<nav class="navbar navbar-expand-lg fixed-top sticky-top scrolling-nadvar d-flex"
        id="nadvar">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="blank"> <img id="logoap"
                src="assets/img/arg-programa.png"></a>
        <!--menu colapsable-->
        <!--boton del menu-->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menucolapsable"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--menu colapsable-->
        <div class="collapse navbar-collapse text-center flex-colum" id="menucolapsable">
            <!--lista atajos -->
            <div class="navbar-nav rounded-4 text-center" id="atajos">
                <a class="nav-item nav-link" href="#sobremi"> Sobre Mi </a>
                <a class="nav-item nav-link" href="#experiencia"> Experiencia </a>
                <a class="nav-item nav-link" href="#educacion"> Eduacación </a>
                <a class="nav-item nav-link" href="#hys"> Hard & Soft Skills </a>
                <a class="nav-item nav-link" href="#proyectos"> Proyectos </a>
            </div>

            <!--lista redes-->
            <section class="p-2">
                <div class="navbar-nav rounded-4 text-center" id="redes">
                    <a class="nav-item nav-link" href="https://www.linkedin.com/in/gladis-flores-cespedes-387925257/"
                        target="blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a class="nav-item nav-link" href="https://www.instagram.com/gladisfc1991/" target="blank"><i
                            class="fa-brands fa-instagram" target="blank"></i></a>
                    <a class="nav-item nav-link" href="https://github.com/GladisFC" target="blank"><i
                            class="fa-brands fa-github"></i></a>
                    <a class="nav-item nav-link" href="https://codepen.io/gladisfc" target="blank"><i
                            class="fa-brands fa-codepen"></i></a>
                </div>
            </section>
            <!--lista login-->
            <section>
               
            </section>
        </div>

    </nav>