<div class="container-fluid text-center rounded-4" id="proyectos">
    <div class="row text-center p-2">
        <h2> PROYECTOS</h2>
    <div class="table-responsive rounded-4" id="columnas">
            <table class="table table-striped">
                <tr>
                    <th>Título</th>
                    <th>Año</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <td>Portfolio Web</td>
                    <td>2022</td>
                    <td>Portfolio Web realizado con diversas tecnologías. <br>Front-End: HTML, CSS, bootstrap <br>
                        Bases de
                        Datos:... <br> Back-End:... </td>
                </tr>
            </table>
        </div>

    </div>
</div>