 <!--MODAL AGREGAR PROYECTO-->
 <div class="modal fade" id="agregarproModal" tabindex="-1" aria-labelledby="agregarproModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarproModal">AGREGAR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="titulopronuevo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulopronuevo">
                    </div>
                    <div class="mb-3">
                        <label for="nuevoaño" class="form-label">Año</label>
                        <input type="number" class="form-control" id="nuevoaño" aria-describedby="nuevo">
                    </div>
                    <div class="mb-3">
                        <label for="nuevodetalle" class="form-label">Detalles</label>
                        <textarea class="form-control" id="nuevodetalle" aria-describedby="nuevo"> </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-light">Guardar y Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>