<p>modalbanner works!</p>
<div class="modal fade" id="edfotoBanner" tabindex="-1" aria-labelledby="edfotoBanner" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="edfotoBanner"> Cambiar Banner </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->
                <form>
                    <div class="mb-3">
                        <label for="editbanner" class="form-label"> Nuevo banner </label>
                        <input type="url" placeholder="inserte url de imegen" id="editbanner" name="editbanner"
                            required>
                    </div>
                    <!--botones-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Descartar</button>
                        <button type="submit" class="btn btn-light">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>