 <!--experiencia-->
 <div class="container-fluid text-center rounded-4" id="experiencia">
    <div class="row text-center p-2">
        <h2> EXPERIENCIA </h2>
        <div class="table-responsive rounded-4" id="columnas">
            <table class="table table-striped">
                <tr>
                    <th> AÑO</th>
                    <th>PROYECTO</th>
                </tr>
                <tr>
                    <td>2022 </td>
                    <td> <i class="fa-solid fa-laptop"></i>Portfolio Web</td>
                </tr>
            </table>
        </div>
    </div>
</div>