  <!--MODAL EDICIÓN FOTO-->
  <div class="modal fade" id="edfotoModal" tabindex="-1" aria-labelledby="edfotoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="edfotoModal"> Cambiar foto de perfil</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->
                <form>
                    <div class="mb-3">
                        <label for="editfoto" class="form-label"> Foto de perfil </label>
                        <input type="url" placeholder="inserte url de imegen" id="editfoto" name="editfoto"
                            required>
                    </div>
                    <!--botones-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Descartar</button>
                        <button type="submit" class="btn btn-light">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>