  <!--habilidades-->

  <div class="progress-circle-container text-center container-fluid rounded-4 p-3" id="hys">
    <h2>HARD AND SOFT SKILLS</h2>

    <section class="rounded-4" id="colhys">
        <div class="row d-flex align-items-center justify-content-center p-2">
            <div class="col">
                <div class="progress-circle progress-75"><span>75</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-github"></i>
                </h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-70"><span>70</span></div>
                <h5 class="progress-title"> <i class="fa-brands fa-html5"></i></h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-73"><span>73</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-css3-alt"></i></h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-80"><span>80</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-bootstrap"></i>
                </h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-43"><span>43</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-js"></i></h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-75"><span>75</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-angular"></i>
                </h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-50"><span>50</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-java"></i>
                </h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-50"><span>50</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-php"></i>
                </h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-50"><span>50</span></div>
                <h5 class="progress-title"><i class="fa-brands fa-python"></i>
                </h5>
            </div>


            <div class="col">
                <div class="progress-circle progress-50"><span>50</span></div>
                <h5 class="progress-title">MySQL</h5>
            </div>
            <div class="col">
                <div class="progress-circle progress-50"><span>50</span></div>
                <h5 class="progress-title">MongoDB</h5>
            </div>
        </div>
    </section>
    <section class="rounded-4" id="colhys">
        <div class="row d-flex align-items-center justify-content-center p-2">
            <div class="col">
                <div class="progress-circle progress-100"><span>100</span></div>
                <h5 class="progress-title">Adaptibilidad</h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-75"><span>75</span></div>
                <h5 class="progress-title">Comunicación efectiva</h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-75"><span>75</span></div>
                <h5 class="progress-title">Trabajo en equipo</h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-100"><span>100</span></div>
                <h5 class="progress-title">Aprendizaje contínuo</h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-100"><span>100</span></div>
                <h5 class="progress-title">Responsabilidad</h5>
            </div>

            <div class="col">
                <div class="progress-circle progress-100"><span>100</span></div>
                <h5 class="progress-title">Organización</h5>
            </div>
        </div>
    </section>
</div>
</div>
</div>