
    <!--BORRAR PROYECTOS-->
    <div class="modal fade" id="BorrarproModal" tabindex="-1" aria-labelledby="BorrarproModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="BorrarproModal">BORRAR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <P>¿Desea borrar definitivamente?</P>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">NO</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">SI</button>
                </div>
            </div>
        </div>
    </div>